@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
:root {
  --black: #3e3d3d;
  --red: #e34d34;
}

body {
  background-color: #f0f0f0;
  font-family: 'Quicksand', sans-serif !important;
}

/* Navbar Start */
nav {
  background-color: var(--red);
  height: 65px;
}

nav ul li,
nav ul li a {
  list-style: none;
  text-decoration: none;
  color: white !important;
  font-weight: 500;
}
nav ul {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

nav ul li::after {
  content: '';
  display: block;
  width: 0;
  margin: auto;
  height: 3px;
  border-radius: 6px;
  background: white;
  transition: width 0.4s;
}
nav ul li:hover::after {
  content: '';
  width: 50%;
}

nav .logo {
  width: 33%;
}
nav .link {
  width: 33%;
}
nav .search {
  width: 33%;
}

nav .search input {
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 40px;
  padding-left: 10px;
  outline: none;
}
nav .icon-search {
  cursor: pointer;
  background-color: #e4e4e4;
  padding: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
nav .icon-search i {
  color: #b9b9b9;
}
nav .icon-search i:hover {
  color: #acacac;
}
/* Navbar End */

/* Card Popular Start */
.img-popular {
  border-radius: 8px;
}

.box-popular {
  position: relative;
}

.overlay-title {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  color: white;
  text-shadow: 1px 1px 3px black;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
.rated {
  position: absolute;
  top: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  height: 35px;
  padding: 0 5px 0 5px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.459);
}

.detail {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.452);
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 8px;
  opacity: 0;
  cursor: pointer;
  transition: 0.2s;
}
.detail:hover {
  opacity: 1;
}

.detail .btn-detail {
  border: 2px solid white;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  padding: 4px 8.5px 4px 8.5px;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.527);
}
.detail .btn-detail:hover {
  border: 2px solid white;
  color: var(--black);
  background-color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
}
/* Card Popular End */

/* Card Top Rated Start */
.img-top-rated {
  border-radius: 8px;
}

.box-top-rated {
  position: relative;
}

.overlay-title {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  color: white;
  text-shadow: 1px 1px 3px black;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
.rated {
  position: absolute;
  top: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  height: 35px;
  padding: 0 5px 0 5px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.459);
}

.detail {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.452);
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 8px;
  opacity: 0;
  cursor: pointer;
  transition: 0.2s;
}
.detail:hover {
  opacity: 1;
}

.detail .btn-detail {
  border: 2px solid white;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  padding: 4px 8.5px 4px 8.5px;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.527);
}
.detail .btn-detail:hover {
  border: 2px solid white;
  color: var(--black);
  background-color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
}
/* Card Top Rated End */
